     @font-face {
        font-family:"NamKhoneUnicode";
        src: url("https://saosu-mp.github.io/font/NamKhoneUnicode/NamKhoneUnicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamKhoneUnicode/NamKhoneUnicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamKhoneUnicode/NamKhoneUnicode.ttf") format("ttf");
      }
     @font-face {
        font-family:"GHK TaungGyi";
        src: url("https://saosu-mp.github.io/font/GHKTaungGyi/GHKTaungGyi.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GHKTaungGyi/GHKTaungGyi.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GHKTaungGyi/GHKTaungGyi.ttf") format("ttf");
      }
      @font-face {
        font-family:"GreatHorKham Yangon";
        src: url("https://saosu-mp.github.io/font/GreatHorKhamYangon/GreatHorKhamYangon.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GreatHorKhamYangon/GreatHorKhamYangon.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GreatHorKhamYangon/GreatHorKhamYangon.ttf") format("ttf");
      }
     @font-face {
        font-family:"PangLong";
        src: url("https://saosu-mp.github.io/font/PangLong/PangLong.woff") format("woff"),
             url("https://saosu-mp.github.io/font/PangLong/PangLong.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/PangLong/PangLong.ttf") format("ttf");
      }
     @font-face {
        font-family:"Yunghkio";
        src: url("https://saosu-mp.github.io/font/Yunghkio/Yunghkio.woff") format("woff"),
             url("https://saosu-mp.github.io/font/Yunghkio/Yunghkio.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/Yunghkio/Yunghkio.ttf") format("ttf");
      }
     @font-face {
        font-family:"Yunghkio Unicode";
        src: url("https://saosu-mp.github.io/font/YunghkioUnicode/YunghkioUnicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/YunghkioUnicode/YunghkioUnicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/YunghkioUnicode/YunghkioUnicode.ttf") format("ttf");
      }
     @font-face {
        font-family:"Yunghkio004";
        src: url("https://saosu-mp.github.io/font/Yunghkio004/Yunghkio004.woff") format("woff"),
             url("https://saosu-mp.github.io/font/Yunghkio004/Yunghkio004.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/Yunghkio004/Yunghkio004.ttf") format("ttf");
      }
     @font-face {
        font-family:"Yunghkio Pop";
        src: url("https://saosu-mp.github.io/font/YunghkioPop/YunghkioPop.woff") format("woff"),
             url("https://saosu-mp.github.io/font/YunghkioPop/YunghkioPop.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/YunghkioPop/YunghkioPop.ttf") format("ttf");
      }
     @font-face {
        font-family:"Shan Unicode";
        src: url("https://saosu-mp.github.io/font/ShanUnicode/ShanUnicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/ShanUnicode/ShanUnicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/ShanUnicode/ShanUnicode.ttf") format("ttf");
      }
     @font-face {
        font-family:"Ours-Unicode";
        src: url("https://saosu-mp.github.io/font/Ours-Unicode/Ours-Unicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/Ours-Unicode/Ours-Unicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/Ours-Unicode/Ours-Unicode.ttf") format("ttf");
      }
 
     @font-face {
      font-family: 'Tharlon';
       font-style: normal;
       font-weight: 400;
       src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot);
       src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot?#iefix) format('embedded-opentype'),
            url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.ttf) format('truetype');
     }
   @font-face {
        font-family:"MUA Office";
        src: url("https://saosu-mp.github.io/font/MUAOffice/MUAOffice.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MUAOffice/MUAOffice.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MUAOffice/MUAOffice.ttf") format("ttf");
      }
   @font-face {
        font-family:"NamKhone Web Pro";
        src: url("https://saosu-mp.github.io/font/NamKhoneWebPro/NamKhoneWebPro.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamKhoneWebPro/NamKhoneWebPro.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamKhoneWebPro/NamKhoneWebPro.ttf") format("ttf");
      }
   @font-face {
        font-family:"NamTeng Web Pro";
        src: url("https://saosu-mp.github.io/font/NamTengWebPro/NamTengWebPro.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamTengWebPro/NamTengWebPro.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamTengWebPro/NamTengWebPro.ttf") format("ttf");
      }
   @font-face {
        font-family:"NamTeng";
        src: url("https://saosu-mp.github.io/font/NamTeng/NamTeng.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamTeng/NamTeng.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamTeng/NamTeng.ttf") format("ttf");
      }
   @font-face {
        font-family:"NamTeng2017";
        src: url("https://saosu-mp.github.io/font/NamTeng2017/NamTeng2017.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamTeng2017/NamTeng2017.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamTeng2017/NamTeng2017.ttf") format("ttf");
      }
   @font-face {
        font-family:"Shan Wanhai";
        src: url("https://saosu-mp.github.io/font/ShanWanhai/ShanWanhai.woff") format("woff"),
             url("https://saosu-mp.github.io/font/ShanWanhai/ShanWanhai.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/ShanWanhai/ShanWanhai.ttf") format("ttf");
      }
     @font-face {
        font-family:"NK SSmart2";
        src: url("https://saosu-mp.github.io/font/NKSSmart2/NKSSmart2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NKSSmart2/NKSSmart2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NKSSmart2/NKSSmart2.ttf") format("ttf");
      }
     @font-face {
        font-family:"NK SSmart3";
        src: url("https://saosu-mp.github.io/font/NKSSmart3/NKSSmart3.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NKSSmart3/NKSSmart3.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NKSSmart3/NKSSmart3.ttf") format("ttf");
      }
     @font-face {
        font-family:"NK SSmart4";
        src: url("https://saosu-mp.github.io/font/NKSSmart4/NKSSmart4.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NKSSmart4/NKSSmart4.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NKSSmart4/NKSSmart4.ttf") format("ttf");
      }
     @font-face {
        font-family:"GHK Muse";
        src: url("https://saosu-mp.github.io/font/GHKMuSe/GHKMuse.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GHKMuSe/GHKMuSe.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GHKMuSe/GHKMuse.ttf") format("ttf");
      }
   @font-face {
        font-family:"GHK KengTung";
        src: url("https://saosu-mp.github.io/font/GHKKengTung/GHKKengTung.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GHKKengTung/GHKKengTung.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GHKKengTung/GHKKengTung.ttf") format("ttf");
      }
     @font-face {
        font-family:"GHK Tachileik";
        src: url("https://saosu-mp.github.io/font/GHKTachileik/GHKTachileik.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GHKTachileik/GHKTachileik.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GHKTachileik/GHKTachileik.ttf") format("ttf");
      }
     @font-face {
        font-family:"LuenTai1";
        src: url("https://saosu-mp.github.io/font/LuenTai1/LuenTai1.woff") format("woff"),
             url("https://saosu-mp.github.io/font/LuenTai1/LuenTai1.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/LuenTai1/LuenTai1.ttf") format("ttf");
      }
     @font-face {
        font-family:"LuenTai2";
        src: url("https://saosu-mp.github.io/font/LuenTai2/LuenTai2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/LuenTai2/LuenTai2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/LuenTai2/LuenTai2.ttf") format("ttf");
      }
     @font-face {
        font-family:"KeangTawng001";
        src: url("https://saosu-mp.github.io/font/KeangTawng001/KeangTawng001.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KeangTawng001/KeangTawng001.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KeangTawng001/KeangTawng001.ttf") format("ttf");
      }
     @font-face {
        font-family:"KengTawng2";
        src: url("https://saosu-mp.github.io/font/KengTawng2/KengTawng2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KengTawng2/KengTawng2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KengTawng2/KengTawng2.ttf") format("ttf");
      }
     @font-face {
        font-family:"KT2";
        src: url("https://saosu-mp.github.io/font/KT2/KT2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KT2/KT2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KT2/KT2.ttf") format("ttf");
      }
     @font-face {
        font-family:"KT3";
        src: url("https://saosu-mp.github.io/font/KT3/KT3.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KT3/KT3.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KT3/KT3.ttf") format("ttf");
      }
     @font-face {
        font-family:"Cherry Unicode";
        src: url("https://saosu-mp.github.io/font/CherryUnicode/CherryUnicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/CherryUnicode/CherryUnicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/CherryUnicode/CherryUnicode.ttf") format("ttf");
      }
     @font-face {
        font-family:"KhunPaOh";
        src: url("https://saosu-mp.github.io/font/KhunPaOh/KhunPaOh.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KhunPaOh/KhunPaOh.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KhunPaOh/KhunPaOh.ttf") format("ttf");
      }
     @font-face {
        font-family:"MM Phetkon";
        src: url("https://saosu-mp.github.io/font/MMPhetkon/MMPhetkon.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MMPhetkon/MMPhetkon.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MMPhetkon/MMPhetkon.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Ethnic";
        src: url("https://saosu-mp.github.io/font/MyanmarEthnic/MyanmarEthnic.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarEthnic/MyanmarEthnic.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarEthnic/MyanmarEthnic.ttf") format("ttf");
      }
   @font-face {
        font-family:"MM Ethnic";
        src: url("https://saosu-mp.github.io/font/MMEthnic/MMEthnic.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MMEthnic/MMEthnic.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MMEthnic/MMEthnic.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar KatKuu";
        src: url("https://saosu-mp.github.io/font/MyanmarKatKuu/MyanmarKatKuu.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarKatKuu/MyanmarKatKuu.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarKatKuu/MyanmarKatKuu.ttf") format("ttf");
      }

    @font-face {
        font-family:"Pyidaungsu";
        src: url("https://saosu-mp.github.io/font/Pyidaungsu/Pyidaungsu.woff") format("woff"),
             url("https://saosu-mp.github.io/font/Pyidaungsu/Pyidaungsu.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/Pyidaungsu/Pyidaungsu.ttf") format("ttf");
      }

   @font-face {
   font-family: 'Myanmar Sans Pro';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.eot);
   src: url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.eot?#iefix) format('embedded-opentype'),
        url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.ttf) format('truetype');
     }
@font-face {
  font-family: 'Khyay';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.eot);
  src: url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.ttf) format('truetype');
}
     @font-face {
        font-family:"Masterpiece Uni Round";
        src: url("https://saosu-mp.github.io/font/MasterpieceUniRound/MasterpieceUniRound.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MasterpieceUniRound/MasterpieceUniRound.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MasterpieceUniRound/MasterpieceUniRound.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Angoun";
        src: url("https://saosu-mp.github.io/font/MyanmarAngoun/MyanmarAngoun.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarAngoun/MyanmarAngoun.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarAngoun/MyanmarAngoun.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Gantgaw";
        src: url("https://saosu-mp.github.io/font/MyanmarGantgaw/MyanmarGantgaw.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarGantgaw/MyanmarGantgaw.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarGantgaw/MyanmarGantgaw.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Sagar";
        src: url("https://saosu-mp.github.io/font/MyanmarSagar/MyanmarSagar.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSagar/MyanmarSagar.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSagar/MyanmarSagar.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Yinmar";
        src: url("https://saosu-mp.github.io/font/MyanmarYinmar/MyanmarYinmar.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarYinmar/MyanmarYinmar.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarYinmar/MyanmarYinmar.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Square";
        src: url("https://saosu-mp.github.io/font/MyanmarSquare/MyanmarSquare.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSquare/MyanmarSquare.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSquare/MyanmarSquare.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Square Light";
        src: url("https://saosu-mp.github.io/font/MyanmarSquareLight/MyanmarSquareLight.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSquareLight/MyanmarSquareLight.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSquareLight/MyanmarSquareLight.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Sanpya";
        src: url("https://saosu-mp.github.io/font/MyanmarSanpya/MyanmarSanpya.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSanpya/MyanmarSanpya.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSanpya/MyanmarSanpya.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Sabae";
        src: url("https://saosu-mp.github.io/font/MyanmarSabae/MyanmarSabae.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSabae/MyanmarSabae.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSabae/MyanmarSabae.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Punk";
        src: url("https://saosu-mp.github.io/font/MyanmarPunk/MyanmarPunk.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPunk/MyanmarPunk.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPunk/MyanmarPunk.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Ponenyet";
        src: url("https://saosu-mp.github.io/font/MyanmarPonenyet/MyanmarPonenyet.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPonenyet/MyanmarPonenyet.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPonenyet/MyanmarPonenyet.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Pixel";
        src: url("https://saosu-mp.github.io/font/MyanmarPixel/MyanmarPixel.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPixel/MyanmarPixel.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPixel/MyanmarPixel.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Pixel Smooth";
        src: url("https://saosu-mp.github.io/font/MyanmarPixelSmooth/MyanmarPixelSmooth.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPixelSmooth/MyanmarPixelSmooth.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPixelSmooth/MyanmarPixelSmooth.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Phetsot";
        src: url("https://saosu-mp.github.io/font/MyanmarPhetsot/MyanmarPhetsot.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPhetsot/MyanmarPhetsot.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPhetsot/MyanmarPhetsot.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Pauklay";
        src: url("https://saosu-mp.github.io/font/MyanmarPauklay/MyanmarPauklay.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPauklay/MyanmarPauklay.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPauklay/MyanmarPauklay.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Njaun";
        src: url("https://saosu-mp.github.io/font/MyanmarNjaun/MyanmarNjaun.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarNjaun/MyanmarNjaun.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarNjaun/MyanmarNjaun.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Chatu";
        src: url("https://saosu-mp.github.io/font/MyanmarChatu/MyanmarChatu.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarChatu/MyanmarChatu.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarChatu/MyanmarChatu.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Nayone";
        src: url("https://saosu-mp.github.io/font/MyanmarNayone/MyanmarNayone.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarNayone/MyanmarNayone.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarNayone/MyanmarNayone.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Kuttar";
        src: url("https://saosu-mp.github.io/font/MyanmarKuttar/MyanmarKuttar.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarKuttar/MyanmarKuttar.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarKuttar/MyanmarKuttar.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Head One";
        src: url("https://saosu-mp.github.io/font/MyanmarHeadOne/MyanmarHeadOne.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarHeadOne/MyanmarHeadOne.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarHeadOne/MyanmarHeadOne.ttf") format("ttf");
      }
     @font-face {
        font-family:"MM Jasmine";
        src: url("https://saosu-mp.github.io/font/MMJasmine/MMJasmine.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MMJasmine/MMJasmine.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MMJasmine/MMJasmine.ttf") format("ttf");
      }
     @font-face {
        font-family:"Jasmine Unicode";
        src: url("https://saosu-mp.github.io/font/JasmineUnicode/JasmineUnicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/JasmineUnicode/JasmineUnicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/JasmineUnicode/JasmineUnicode.ttf") format("ttf");
      }
     @font-face {
        font-family:"MM Bagan";
        src: url("https://saosu-mp.github.io/font/MMBagan/MMBagan.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MMBagan/MMBagan.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MMBagan/MMBagan.ttf") format("ttf");
      }
     @font-face {
        font-family:"Hopone";
        src: url("https://saosu-mp.github.io/font/Hopone/Hopone.woff") format("woff"),
             url("https://saosu-mp.github.io/font/Hopone/Hopone.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/Hopone/Hopone.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Kalay";
        src: url("https://saosu-mp.github.io/font/MyanmarKalay/MyanmarKalay.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarKalay/MyanmarKalay.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarKalay/MyanmarKalay.ttf") format("ttf");
      }
     @font-face {
        font-family:"UniHeart LineLine";
        src: url("https://saosu-mp.github.io/font/UniHeartLineLine/UniHeartLineLine.woff") format("woff"),
             url("https://saosu-mp.github.io/font/UniHeartLineLine/UniHeartLineLine.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/UniHeartLineLine/UniHeartLineLine.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar April Display";
        src: url("https://saosu-mp.github.io/font/MyanmarAprilDisplay/MyanmarAprilDisplay.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarAprilDisplay/MyanmarAprilDisplay.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarAprilDisplay/MyanmarAprilDisplay.ttf") format("ttf");
      }
   @font-face {
        font-family:"MM Taunggyi";
        src: url("https://saosu-mp.github.io/font/MMTaunggyi/MMTaunggyi.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MMTaunggyi/MMTaunggyi.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MMTaunggyi/MMTaunggyi.ttf") format("ttf");
      }
   @font-face {
        font-family:"Myanglish";
        src: url("https://saosu-mp.github.io/font/Myanglish/Myanglish.woff") format("woff"),
             url("https://saosu-mp.github.io/font/Myanglish/Myanglish.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/Myanglish/Myanglish.ttf") format("ttf");
      }
   @font-face {
        font-family:"Myanmar Handwriting";
        src: url("https://saosu-mp.github.io/font/MyanmarHandwriting/MyanmarHandwriting.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarHandwriting/MyanmarHandwriting.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarHandwriting/MyanmarHandwriting.ttf") format("ttf");
      }
   @font-face {
        font-family:"Myanmar Pyu Pro";
        src: url("https://saosu-mp.github.io/font/MyanmarPyuPro/MyanmarPyuPro.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPyuPro/MyanmarPyuPro.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPyuPro/MyanmarPyuPro.ttf") format("ttf");
      }
   @font-face {
        font-family:"Myanmar Thuriya";
        src: url("https://saosu-mp.github.io/font/MyanmarThuriya/MyanmarThuriya.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarThuriya/MyanmarThuriya.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarThuriya/MyanmarThuriya.ttf") format("ttf");
      }
   @font-face {
        font-family:"MyanmarPaOhOne";
        src: url("https://saosu-mp.github.io/font/MyanmarPaOhOne/MyanmarPaOhOne.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarPaOhOne/MyanmarPaOhOne.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarPaOhOne/MyanmarPaOhOne.ttf") format("ttf");
      }
   @font-face {
        font-family:"KoZKJR";
        src: url("https://saosu-mp.github.io/font/003KoZKJR/003KoZKJR.woff") format("woff"),
             url("https://saosu-mp.github.io/font/003KoZKJR/003KoZKJR.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/003KoZKJR/003KoZKJR.ttf") format("ttf");
      }
